<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="display-4 mb-4 th:text=${title}"></h1>
    <p th:text="${msg}"></p>
    <form method="post" action="/find">
        <div class="input-group">
            <input type="text" class="form-control me-1" name="find_str" th:value="${value}" />
        </div>
        <span class="input-group-btn">
            <input type="submit" class="btn btn-primary px-4" value="Click">
        </span>
    </form>
</body>
</html>