<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container">
    <div class="alert alert-primary" th:if = "${flag}">
        <h5>Alert</h5>
        <p th:text = ${msg}></p>
    </div>

    <div class="card" th:unless="${flag}">
        <div class="card-body">
            <h5 class="card-title">Message</h5>
            <p class="card-text" th:text="${msg}"></p>
        </div>
    </div>
    
</body>
</html>