<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="display-4 mb-4">Hello page</h1>
    <p th:text="{msg}"></p>
    <p class="h6 alert alert-primary" th:text="${content}"></p>

    <form method="post" action="./">
        <div class="input-group">
            <input type="text" class="form-control me-1" name="text1" th:value="${value}">
            <span class="input-group-btn">
                <input type="submit" class="btn btn-primary px-4" value="click">
            </span>
        </div>
 
    </form>
</body>
</html>